# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weathercsv= "../WeatherPy/weather.csv"
dataw = pd.read_csv(weathercsv)
dataw.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,castro,100,BR,1585508020,68,-24.79,-50.01,69.75,2.28
1,1,kieta,94,PG,1585508259,76,-6.22,155.63,79.66,2.66
2,2,saskylakh,73,RU,1585508220,87,71.92,114.08,-19.34,3.67
3,3,hobart,14,AU,1585508260,59,-42.88,147.33,60.80,8.05
4,4,esperance,0,AU,1585508261,93,-33.87,121.90,51.80,5.82

In [3]:
dataw = dataw.drop(columns=["Unnamed: 0"])
dataw

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,castro,100,BR,1585508020,68,-24.79,-50.01,69.75,2.28
1,kieta,94,PG,1585508259,76,-6.22,155.63,79.66,2.66
2,saskylakh,73,RU,1585508220,87,71.92,114.08,-19.34,3.67
3,hobart,14,AU,1585508260,59,-42.88,147.33,60.80,8.05
4,esperance,0,AU,1585508261,93,-33.87,121.90,51.80,5.82
...,...,...,...,...,...,...,...,...,...
524,potenza,62,IT,1585508526,74,40.64,15.81,43.56,1.14
525,deputatskiy,100,RU,1585508526,87,69.30,139.90,-1.61,4.68
526,horki,93,BY,1585508526,79,54.29,30.98,43.77,15.82
527,fomboni,100,KM,1585508527,72,-12.28,43.74,84.42,10.31
528,altay,3,CN,1585508527,74,47.87,88.12,19.15,6.87

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
g_key

'AIzaSyBf0MiRCMdXJa1nD7F4eV5WDZbXV-aJU0Q'

In [5]:
gmaps.configure(api_key=g_key)

In [6]:
# Convert Humidity to float and store
# Also, handle NaN values
dataw= dataw.dropna()
humidity = dataw["Humidity"].astype(float)

# Store 'Latitude' and 'Longitude' into  locations. 
locations = dataw[["Lat", "Lng"]].astype(float)

# Create a humidity Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=max(dataw["Humidity"]),
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
# Narrow down the DataFrame to find your ideal weather condition.
temp = dataw
temp.to_excel("vacpy.xlsx")

# Drop any rows that don't contain all three conditions. Want to be sure the weather is ideal.

# A max temperature lower than 80 degrees but higher than 70.
temp = temp.loc[(temp["Max Temp"] < 80) & (temp["Max Temp"] > 70)]

temp

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
1,kieta,94,PG,1585508259,76,-6.22,155.63,79.66,2.66
6,hilo,75,US,1585507984,83,19.73,-155.09,73.00,3.36
11,manyana,75,BW,1585508263,39,-23.40,21.72,74.53,5.35
13,kapaa,75,US,1585508263,88,22.08,-159.32,73.99,19.46
21,cape town,20,CL,1585508266,43,-36.41,-71.90,71.60,13.87
...,...,...,...,...,...,...,...,...,...
503,port keats,25,CD,1585508368,56,-7.03,29.76,74.57,0.98
514,kununurra,50,AU,1585508521,83,-15.77,128.73,73.40,2.19
515,deh rawud,75,IR,1585508523,57,26.56,53.99,75.20,21.92
518,daru,95,PG,1585508524,88,-9.08,143.21,78.10,7.70
520,samarai,96,PG,1585508525,86,-10.62,150.67,79.21,7.99

In [8]:
# Wind speed less than 10 mph.
temp = temp.loc[temp["Wind Speed"] < 10]

# Zero cloudiness.
temp = temp.loc[temp["Cloudiness"] == 0]

# Drop any rows with null values
temp = temp.dropna()

temp

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
96,kot putli,0,IN,1585508309,56,28.33,77.17,73.40,5.82
225,dawei,0,MM,1585508361,73,14.08,98.20,75.42,3.02
272,tura,0,IN,1585508388,25,25.52,90.22,70.39,3.02

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [15]:
import json
hotel=temp

params={
    "radius":5000,
    "types":"lodging",
    "key": g_key
}

for index, row in hotel.iterrows():
    lat=row["Lat"]
    lng=row["Lng"]
    
    params["location"]=f"{lat},{lng}"
    
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    print(f"Retrieving Results for Index{index}:{row['City']}.")
    response=requests.get(url, params=params).json()
    print(json.dumps(response, indent=4, sort_keys=True))
    results= response['results']
    try:
          print(f"Closest hotel is {results[0]['name']}.")
          hotel.loc[index, 'Hotel Name']= results[0]['name']
    except (KeyError,IndexError):
          print("Missing field/result... skipping.")
    print("--------------")

Retrieving Results for Index96:kot putli.
{
    "error_message": "You must enable Billing on the Google Cloud Project at https://console.cloud.google.com/project/_/billing/enable Learn more at https://developers.google.com/maps/gmp-get-started",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
Missing field/result... skipping.
--------------
Retrieving Results for Index225:dawei.
{
    "error_message": "You must enable Billing on the Google Cloud Project at https://console.cloud.google.com/project/_/billing/enable Learn more at https://developers.google.com/maps/gmp-get-started",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
Missing field/result... skipping.
--------------
Retrieving Results for Index272:tura.
{
    "error_message": "You must enable Billing on the Google Cloud Project at https://console.cloud.google.com/project/_/billing/enable Learn more at https://developers.google.com/maps/gmp-get-started",
    "html_attributions": [],
    "results": [],
    "status": "REQUEST_DENIED"
}
Missing field/result... skipping.
--------------

In [16]:
hotel

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
96,kot putli,0,IN,1585508309,56,28.33,77.17,73.40,5.82
225,dawei,0,MM,1585508361,73,14.08,98.20,75.42,3.02
272,tura,0,IN,1585508388,25,25.52,90.22,70.39,3.02

In [ ]:
locations = hotel_df[["Lat", "Lng"]]
markers = gmaps.marker_layer(locations)

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map
fig.add_layer(markers)
fig.add_layer(hotel_layer)
fig


# Display Map